:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  height: 100%;
  width: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.container{
  height: 100%;
  background-color: #bebbbb;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.content{
  position: relative;
  min-width: 360px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #1a1a1a;
  padding: 15px 30px;
}

.setting-container{
  height: 100%;
  background-color: #bebbbb;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.setting-content{
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #1a1a1a;
  padding: 4rem 3rem;
}